[Unit]
Description=RPi Panel
After=network.target uap0.service

[Service]
User=root
ExecStart=/home/max/rpi-panel --data-dir /etc/rpi-panel
Restart=always

[Install]
WantedBy=multi-user.target
